* {
  font-family: 'Gothic A1', sans-serif;
}

body {
  background-color: rgb(254, 254, 254);
}

/* INDEX PAGE */
#addAppBtn {
  display: block;
  margin: 50px auto;
}

#mainPage{
  display: flex;
  flex-direction: row;
  margin-top: 50px;
}

#profileContainer{
  margin: 20px 20px;
  border: 2px solid rgb(51,123,247, .8);
  border-radius: 5px;
  height: auto;
}

.profileInfo{
  text-align: center;
}

/* EDIT APP */
.editView {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 60vw;
  height: auto;
  margin-bottom: 20px;
}

.applicationShow {
  width: 30vw;
  height: auto;
  margin: 0 50px;
}

.applicationShow button{
  margin-left: 40px;
}

.applicationEdit {
  width: 30vw;
  height: auto;
  margin: 0 50px;
}

.applicationShow ul {
  list-style: none;
}
