.editView {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.applicationShow {
  width: 45vw;
  height: auto;
  margin: 0 50px;
}

.applicationEdit {
  width: 45vw;
  height: auto;
  margin: 0 50px;
}

.applicationShow ul {
  list-style: none;
}
